# CREATE DATABASE db_name
# CREATE USER user_name WITH PASSWORD 'user_pass'
# ALTER DATABASE db_name OWNER TO user_name

DEBUG=

# Укажите свои настройки для подключения к базе данных PostgreSQL
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=

STRIPE_SECRET_API_KEY=