# CREATE DATABASE db_name
# CREATE USER user_name WITH PASSWORD 'user_pass'
# ALTER DATABASE db_name OWNER TO user_name

DEBUG=

# Укажите свои настройки для подключения к базе данных PostgreSQL
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=

STRIPE_SECRET_API_KEY=